<ion-view title="Donate" id="page3">
    <ion-content padding="false" scroll="false" class="has-header">
      <label class="item item-input">
        <span class="input-label">Establishment</span>
        <input type="text" ng-model="adress" g-places-autocomplete>
      </label>
    <ng-map class="map" center="current-location" zoom="15">
      <marker position="current-location" on-click="windowPopUp()"></marker>
      <marker position="{{adress}}" title="{{adress}}"/>
    </ng-map>
    </ion-content>
</ion-view>
