<ion-view title="Tabs Controller" id="page1" style="background-color:#FFFFFF;">
    <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
        <ion-tab title="Donate" icon="ion-cash" href="#/page1/page1" id="tabsController-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Worker" icon="ion-android-hand" href="#/page1/page2" id="tabsController-tab3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        
    </ion-tabs>
</ion-view>
