<ion-view title="Worker" id="page4">
    <ion-content padding="true" class="has-header">
      1
2
3
4
5
6
7
8
9
10
11
12
13
<ion-view view-title="Login" name="login-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login()">Login</button>
  </ion-content>
</ion-view>
    </ion-content>
</ion-view>
