<ion-view title="Worker" id="page4">
    <ion-content padding="true" class="has-header">
      <div class="card">
            <div class="item">
                <button class="button button-block button-positive" ng-click="scan()">
                    <i class="icon ion-qr-scanner"></i>
                    Scan Card
                </button>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Scan Results
            </div>
            <div class="item item-text-wrap">
                <h1>Name: {{name}}</h1>
                <h2>Id: {{id}}</h2>
            </div>
        </div>
    </ion-content>
</ion-view>
