<ion-view title="" id="page3">
    <ion-content padding="true" class="has-header">
      <h1>hey</h1>
      <div class="card">
            <div class="item">
                <button class="button button-block button-positive" ng-click="scan()">
                    <i class="icon ion-qr-scanner"></i>
                    Scan Now
                </button>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Scan Results
            </div>
            <div class="item item-text-wrap">
                {{scanResults}}
            </div>
        </div>
    </ion-content>
</ion-view>
