<ion-view title="Worker" id="page4">
    <ion-content padding="true" class="has-header">

            <div class="list list-inset">
                <label class="item item-input">
                    <input type="email" placeholder="Email" ng-model="email">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="password">
                </label>
            </div>
            <a nav-transition="ios" href="#/page1/page4" ngIf="{{sucess}}"><button class="button button-block button-calm" ng-click="createUser(email,password)">Login</button></a>

    </ion-content>
</ion-view>
